### .config ###
.config/*
!.config/starship.toml

### jrnl ###
!.config/jrnl

### micro ###
!.config/micro
.config/micro/*
!.config/micro/settings.json
!.config/micro/bindings.json

# System files
.DS_Store
