/* Kanagawa scheme by Originally by rebelot (Ported by montdor [https://github.com/montdor/]) */

window {
  font-family: JetBrainsMonoNerdFont;
  font-size: 11px;
  font-weight: 600;
  border: 2px solid #2A2A37;
  background-color: #1F1F28;
  color: #DCD7BA;
}

#input {
  margin: 5px;
  border: none;
  border-radius: 0;
  color: #C8C093;
  background-color: #2A2A37;
  border-color: #223249; 
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#entry:selected {
  background-color: #223249;
}
