@define-color dragonBlack3 #181616;
@define-color dragonBlack4 #282727;

@define-color dragonGray #a6a69c;
@define-color waveRed #e46876;
@define-color dragonGreen #87a987;
@define-color carpYellow #e6c384;
@define-color springBlue #7fb4ca;
@define-color springViolet1 #938aa9;
@define-color waveAqua2 #7aa89f;
@define-color dragonWhite #c5c9c5;

@define-color dragonBlack0 #0d0c0c;
@define-color dragonRed #c4746e;
@define-color dragonGreen2 #8a9a7b;
@define-color dragonYellow #c4b28a;
@define-color dragonBlue2 #8ba4b0;
@define-color dragonPink #a292a3;
@define-color dragonAqua #8ea4a2;
@define-color oldWhite #c8c093;

* {
  border: none;
  font-family: JetBrainsMonoNerdFont;
  font-size: 11px;
  font-weight: 600;
  min-height: 0;
  border-radius: 0px;
}

window#waybar {
  background-color: @dragonBlack0;
  border-bottom: 2px solid @dragonBlack4;
}

#workspaces {
  background-color: @dragonBlack3;
  margin: 0px 10px 2px 0px;
  border-right: 2px solid @dragonBlack4;
}

#workspaces button {
  padding: 1px;
  min-width: 20px;
  color: @dragonWhite;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @dragonBlack3;
  color: @dragonBlue2;
}

#workspaces button.focused {
  background-color: @dragonBlue2;
  color: @dragonBlack0;
}

#tray,
#custom-gamma,
#idle_inhibitor,
#bluetooth,
#network,
#pulseaudio,
#battery,
#clock {
  background-color: @dragonBlack3;
  padding: 4px 10px;
  margin-bottom: 2px;
  color: @dragonWhite;
}

#tray {
  padding-left: 15px;
  padding-right: 15px;
  border-left: 2px solid @dragonBlack4;
}

#custom-gamma {
  padding-left: 15px;
  border-left: 2px solid @dragonBlack4;
}

#idle_inhibitor {
  color: @dragonYellow;
  padding-right: 20px;
  border-right: 2px solid @dragonBlack4;
}

#bluetooth {
  color: @dragonAqua;
  padding-left: 15px;
}

#network {
  color: @dragonPink;
}

#pulseaudio {
  color: @dragonYellow;
}

#battery {
  color: @dragonGreen2;
}

#battery.warning {
  color: @dragonYellow;
}

#network.disconnected,
#bluetooth.disabled,
#pulseaudio.muted,
#battery.critical {
  color: @dragonRed;
}

#clock {
  color: @dragonBlue2;
  padding-right: 15px;
}
