@define-color sumiInk1      #1F1F28; /* base00 */
@define-color sumiInk2      #2A2A37; /* base01 */
@define-color fujiWhite     #DCD7BA; /* base05 */
@define-color crystalBlue   #7E9CD8; /* base0D */
@define-color surimiOrange  #FFA066; /* base09 */
@define-color springBlue    #7FB4CA; /* base0C */
@define-color oniViolet     #957FB8; /* base0E */
@define-color autumnYellow  #DCA561; /* base0A */
@define-color springGreen   #98BB6C; /* base0B */
@define-color sakuraPink    #D27E99; /* base0F */

* {
  border: none;
  font-family: JetBrainsMonoNerdFont;
  font-size: 11px;
  font-weight: 600;
  min-height: 0;
  border-radius: 0px;
}

window#waybar {
  background-color: @sumiInk1;
  border-bottom: 2px solid @sumiInk2;
}

#workspaces {
  background-color: @sumiInk2;
  margin: 0px 10px 2px 0px;
}

#workspaces button {
  padding: 1px;
  min-width: 20px;
  color: @fujiWhite;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @sumiInk2;
  color: @crystalBlue;
}

#workspaces button.focused {
  background-color: @crystalBlue;
  color: @sumiInk2;
}

#clock,
#tray,
#custom-screenrecord,
#idle_inhibitor,
#bluetooth,
#network,
#pulseaudio,
#battery,
#custom-power {
  background-color: @sumiInk2;
  padding: 0px 10px;
  margin-bottom: 2px;
}

#clock {
  color: @crystalBlue;
}

#tray {
  margin-right: 10px;
}

#idle_inhibitor {
  color: @surimiOrange;
}

#bluetooth {
  color: @springBlue;
  margin-right: 10px;
}

#network {
  color: @oniViolet;
}

#pulseaudio {
  color: @crystalBlue;
}

#battery {
  color: @springGreen;
  margin-right: 10px;
}

#battery.warning {
  color: @autumnYellow;
}

#network.disconnected,
#bluetooth.disabled,
#pulseaudio.muted,
#battery.critical {
  color: @sakuraPink;
}

#custom-power {
  color: @sakuraPink;
}
