@define-color background #181616;
@define-color foreground #c5c9c5;

@define-color black #0d0c0c;
@define-color red #c4746e;
@define-color green #8a9a7b;
@define-color yellow #c4b28a;
@define-color blue #8ba4b0;
@define-color magenta #a292a3;
@define-color cyan #8ea4a2;
@define-color white #c8c093;

@define-color border #393836;

* {
  border: none;
  font-family: JetBrainsMonoNerdFont;
  font-size: 11px;
  font-weight: 400;
  min-height: 0;
  border-radius: 0px;
}

window#waybar {
  background-color: @black;
  border-bottom: 1px solid @border;
}

tooltip {
  background: @black;
  border: 1px solid @border;
}
tooltip label {
  color: @foreground;
}

#workspaces {
  background-color: @background;
  margin-bottom: 1px;
}

#workspaces button {
  padding: 2px;
  border-right: 1px solid @border;
  min-width: 20px;
  color: @foreground;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @background;
  color: @blue;
}

#workspaces button.focused {
  background-color: @blue;
  color: @black;
}

#mode {
  background-color: @yellow;
  color: @black;
  padding: 4px 8px;
  margin-bottom: 1px;
  border-right: 1px solid @border;
}

#custom-cloudcash,
#tray,
#custom-gamma,
#idle_inhibitor,
#bluetooth,
#network,
#pulseaudio,
#battery,
#clock {
  background-color: @background;
  padding: 4px 8px;
  margin-bottom: 1px;
  color: @foreground;
}

#custom-cloudcash {
  border-left: 1px solid @border;
  color: @blue;
}

#tray {
  padding: 4px 16px;
  border-left: 1px solid @border;
}

#custom-gamma {
  padding-left: 16px;
  border-left: 1px solid @border;
}

#idle_inhibitor {
  padding-right: 16px;
  border-right: 1px solid @border;
}

#custom-gamma.activated,
#idle_inhibitor.activated {
  color: @yellow;
}

#custom-gamma.deactivated,
#idle_inhibitor.deactivated {
  color: @foreground;
}

#bluetooth {
  color: @cyan;
  padding-left: 16px;
}

#network {
  color: @magenta;
}

#pulseaudio {
  color: @yellow;
}

#battery {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#network.disconnected,
#bluetooth.disabled,
#battery.critical {
  color: @red;
}

#clock {
  color: @blue;
  padding-right: 16px;
}
