window {
  border: 2px solid #24283b;
  background-color: #1a1b26;
}

#input {
  margin: 5px;
  border: none;
  border-radius: 0;
  color: #a9b1d6;
  background-color: #24283b;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #1a1b26;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #1a1b26;
}

#text {
  color: #a9b1d6;
  margin: 0px 5px;
  border: none;
  border-radius: 8px;
}

#entry:selected {
  background-color: #24283b;
}
