/* Kanagawa scheme by Tommaso Laurenzi (https://github.com/rebelot) */

window {
  border: 2px solid #16161D;
  background-color: #1F1F28;
  color: #DCD7BA;
}

#input {
  margin: 5px;
  border: none;
  border-radius: 0;
  color: #727169;
  background-color: #16161D;
  border-color: #223249; 
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#entry:selected {
  background-color: #223249;
}
