/* Start flavours */
/*
*
* Base16 Kanagawa
* Author: Originally by rebelot (Ported by montdor [https://github.com/montdor/])
*
*/

@define-color base00 #1F1F28;
@define-color base01 #2A2A37;
@define-color base02 #223249;
@define-color base03 #727169;
@define-color base04 #C8C093;
@define-color base05 #DCD7BA;
@define-color base06 #938AA9;
@define-color base07 #363646;
@define-color base08 #C34043;
@define-color base09 #FFA066;
@define-color base0A #DCA561;
@define-color base0B #98BB6C;
@define-color base0C #7FB4CA;
@define-color base0D #7E9CD8;
@define-color base0E #957FB8;
@define-color base0F #D27E99;
/* End flavours */

* {
  border: none;
  font-family: JetBrainsMonoNerdFont;
  font-size: 11px;
  font-weight: 600;
  min-height: 0;
  border-radius: 0px;
}

window#waybar {
  background-color: @base00;
  border-bottom: 2px solid @base01;
}

#workspaces {
  background-color: @base01;
  margin: 0px 10px 2px 0px;
}

#workspaces button {
  padding: 1px;
  min-width: 20px;
  color: @base05;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @base01;
  color: @base0D;
}

#workspaces button.focused {
  background-color: @base0D;
  color: @base01;
}

#clock,
#custom-screenrecord,
#idle_inhibitor,
#bluetooth,
#network,
#pulseaudio,
#battery {
  background-color: @base01;
  padding: 0px 10px;
  margin-bottom: 2px;
}

#clock > * {
  color: @base0D;
}

#idle_inhibitor {
  color: @base09;
}

#bluetooth {
  color: @base0C;
}

#network {
  color: @base0E;
}

#pulseaudio {
  color: @base0D;
}

#battery > * {
  color: @base0B;
}

#battery.warning:not(.charging) > * {
  color: @base0A;
}

#network.disconnected,
#bluetooth.disabled,
#pulseaudio.muted,
#battery.critical:not(.charging) > * {
  color: @base0F;
}
