[Desktop Entry]
Name=Newsboat
GenericName=RSS Reader
Comment=RSS/Atom feed reader for the terminal
Terminal=true
TryExec=newsboat
Exec=newsboat
Type=Application
Categories=Utility;News;ConsoleOnly
Keywords=rss;atom;feed;reader;news;terminal;
